
.nav-bar {
    background-color: #dddddd;
    padding: 15px;
    border-style: solid;
    border-color: lightcoral;
    max-width: 1000px;
}
.nav-bar a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px
}

body {
    background-color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;

}

h1 {
    background-image: url(images/cover.jpg);
    background-size: 100%;
    max-width: 1000px;
    height: 600px;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
}

h2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightcoral;
}

h4, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
}
p { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: lightcoral
}
