body {
    background-color: #404040;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}

ul {
    background-color: #dddddd;
    color:black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;

}
p { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: whitesmoke;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

h1, h2, h3, h4 { 
    font-style: bold;
    color: lightslategray;
}
